<?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"><listeners><listener class-name="com.jivi.auto.reports.ExtentITestListenerClassAdapter"/></listeners><test name="Test1"><classes><class name="com.jivi.auto.employeetest.JiViewsSystemDefinitionsTest"><methods><include name="VerifyLogin"/></methods></class></classes></test><test name="Test2"><classes><class name="com.jivi.auto.employeetest.JiViewsEmployeeAdministrationTest"><methods><include name="VerifyEmpAddinEmpProfile"/><include name="VerifyEmpProCreationFiveEmp"/></methods></class></classes></test><test name="Test3"><classes><class name="com.jivi.auto.employeetest.RoaserSetup"><methods><include name="createShiftBandDefinition"/><include name="rosterGroupAssignmentAddingSelectedEmp"/><include name="rosterCreation"/></methods></class></classes></test></suite>